<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.timedeal.domain.user.mapper.UserProductMapper">

    <resultMap id="userProductMap" type="com.mini.timedeal.domain.user.model.UserProduct">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
        <result property="purchasedAt" column="purchased_at"/>
    </resultMap>

    <!-- 구매 내역 저장 -->
    <insert id="saveUserProducts" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_products (user_id, product_id, purchased_at)
        VALUES (#{userId}, #{productId}, #{purchasedAt})
    </insert>

    <!-- 구매 내역 조회 -->
    <select id="getUserProducts" parameterType="long" resultMap="userProductMap">
        SELECT * FROM user_products WHERE user_id = #{userId}
    </select>

</mapper>